.dontLook{visibility: hidden;}
.title{word-wrap: break-word}
.description{word-break: break-all}
.wordBreak{word-break: break-all}

.customMessageContainer{position: fixed;  height: 100vh; width: 100%; z-index: 12345;}
.customMessageBox{background-color: dimgray; right:0; bottom: 0; z-index: 999; position: absolute; color: white; width: 88%; height: 20vh;}
.customMessageTitle{}
.customMessageContent{}
.customMessageBackground{width:100%; height: 100%; z-index: 888; background-color: #414141; opacity: 0.75}

.tag {display:inline-block;padding:5px;background-color:#009fb3;color:white;border-radius:5px;margin:5px;}
.sectionTitle {font-weight:bold;font-size:17px;margin-bottom:10px;}

.list2 li+li {margin-top: 10px;padding-top: 10px;border-top: 1px solid #d1d1d1;}
.container_12 .split{border-bottom: 1px solid #d1d1d1;margin:10px;padding:10px;}
.oldPrice {padding:5px 2px;text-decoration: line-through;font-weight:bold;}
.newPrice {padding:5px 2px;font-weight:bold;color:indianred;}
.price {padding:5px 2px;font-weight:bold;}

