.dontLook{visibility: hidden;}
.title{word-wrap: break-word}
.description{word-break: break-all; font-family:  'Open Sans', sans-serif;font-size: 18px;}
.wordBreak{word-break: break-all}

.customMessageContainer{position: fixed;  height: 100vh; width: 100%; z-index: 12345;}
.customMessageBox{background-color: white; right:15px; bottom: 15px; z-index: 999; position: absolute; color: white; width: 500px; min-height:100px;border-radius:2px;}
.customMessageTitle{font-size:22px;height:44px;padding-top:16px;padding-left:25px;color:white!important;}
.customMessageContent{display: block;color:black;min-height:50px;padding:10px 25px;}
.customMessageBackground{width:100%; height: 100%; z-index: 888; background-color: #414141; opacity: 0.75}
.customMessageClose{float: right; color:red; display: inline; font-size: medium;position:absolute;top:6px;right:6px;}

.tag {display:inline-block;padding:5px;background-color:#009fb3;color:white;border-radius:5px;margin:5px;}
.sectionTitle {font-weight:bold;font-size:17px;margin-bottom:10px;}

.list2 li+li {margin-top: 10px;padding-top: 10px;border-top: 1px solid #d1d1d1;}
.container_12 .split{border-bottom: 1px solid #d1d1d1;margin:10px;padding:10px;}
.oldPrice {padding:5px 2px;text-decoration: line-through;font-weight:bold;}
.newPrice {padding:5px 2px;font-weight:bold;color:indianred;}
.price {padding:5px 2px;font-weight:bold;}
.imeg{text-align: center; vertical-align: middle; padding-top: 5%; margin-top: 5%;}
